**

!.dockerignore
!Dockerfile
!.editorconfig
!Directory.Build.props
!global.json

!src/
!src/**/
!src/**/*.cs
!src/**/*.csproj
!src/GoldSrcOps.Api/appsettings.json

src/GoldSrcOps.Api/appsettings.Development.json
src/GoldSrcOps.Api/appsettings.Local.json
src/**/bin/
src/**/obj/
