{
	email {$GOLDSRCOPS_ALERT_RECEIVER_ACME_EMAIL}
	admin off
}

{$GOLDSRCOPS_ALERT_RECEIVER_HOSTNAME} {
	encode zstd gzip

	@availability_events {
		method POST
		path /api/v1/availability-events
	}
	handle @availability_events {
		reverse_proxy receiver:8080
	}

	handle {
		respond 404
	}
}
